*
{ 
   box-sizing: border-box;
}
body
{  background-color:#4F4F4F;
   text-align:center;
   line-height:1.6em;
   margin:auto;
}
.top
{  color:#FFFFFF;
   text-align:center;
   font-family:sans-serif;
   font-size:35px;
   left:0;
   right:0;
   background-color:#3F4F5F;
   border:1px solid #3F4F5F;
   height:60px;
   width:100%;
   margin-top:0;
   padding:4px;
   padding-top:4px;
}
span
{  border-radius:3px;
   background-color:#4875B4;
   padding:4px;
   font-family:sans-serif;
   left-padding:2px;
   right-padding:2px;
}
.top1
{  color:#FFFFFF;
   font-family:sans-serif;
   font-size:20px;
}
.top2
{  color:#FFFFFF;
   font-family:sans-serif;
   font-size:10px;
   width:100%;
   text-align:center;
}
.top3
{  color:#FFFFFF;
   font-size:12px;
   width:100%;
   font-family:sans-serif;
}
div.outer
{    background-color:#4F4F4F;
	 height:100%;
	 width:100%;
	 padding:4px;
	 position:absolute;
	 text-align:center;
	 font-family:sans-serif;
	 margin:auto;
	 display:inline-block;
	 top:0;
	 bottom:0;
	 left:0;
	 right:0;
}
input.ibox
{  height:40px;
	width:90%;
	color:#989898;
	border:1px solid #989898;
	font-family:sans-serif;
	border-radius:4px;
	padding:4px;
	padding-left:10px;
	font-size:18px;
	top-margin:0px;
	bottom-margin:0px;
}
button
{background-color:#4875B4;
	width:90%;
	font-size:20px;
        font-family:sans-serif;
	height:40px;
	color:#FFFFFF;
	border:#4875B4;
	border-radius:4px;
}
