*{
	box-sizing:border-box;
 }
 body
 {
    background-color:#2F4F4F;
 }
 .main_box
 {
    text-align:center;
	border:1px solid #ffffff;
	border-radius:4px;
	background-color:#ff8729;
	box-shadow: 1px 8px 10px 2px #ffffff;
	padding:5px;
	margin:auto;
	color:#ffffff;
	width:100%;
 }
 .circle-text 
{
    display: table-cell;
    height: 150px; 
    width: 150px;
    text-align: center;
    vertical-align: middle;
    border-radius: 50%;
    background: #ffffff;
    color: #ff8729;
    font: 25px Impact;
    padding:20px;
}
 #getbtn
 {
	background-color:#ff8729;
	text-align:center;
	color:#ffffff;
	padding:2px;
	border:2px solid #000000;
	font-size:16px;
	font-family:Impact;
 }
 input
{
	padding-left:5px;
	width:200px;
	height:30px;
	display:none;
	text-align:left;
	color:grey;
	font-size:20px;
	font-family:Times New Romam;
	
}
 th,tr,td
{
	text-align:center;
	border:2px solid black;
	border-collapse:none;
	padding-left:5px;
	padding:8px;
}
table
{
	margin:auto;
	padding:1px;
	border:3px solid #ffffff;
	border-radius:4px;
}
 
